*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    height: 100px;
    margin-top: -100px;
    display: flex;
    align-items: top;
    justify-content: right;
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: black;
}

.speaker{
    color: white;
    margin: 20px;
    display: flex;
    align-items: top;
    justify-content: right;
    font-size: 13px;

}

.square-cont{
    height: 20px;
    padding: 3px;
    margin-left: 10px;
    background-color: gray;
    border-radius: 5px;
}






















/* main */
.cam-conteiner{
    
    height:1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 100px;
    padding-left: 100px;
    overflow-y: auto;

}

.cam{
    background-color: white;
    height: 16%;
    width: 13%;
    margin: 15px;
    content: url (img src="https://picsum.photos/seed/picsum/200/300" );
    position: relative;
}

img{
    
    height: 100%;
    width: 100%;
    position: relative;
}

.utente{
    position: absolute;
    background-color: gray;
    color: white;
    opacity: 0.4;
    bottom: 0;
    left: 0;
    
}






















/* footer */
footer{
   height: 100PX;
    /* DEBUG */
    background-color: black

}